DATABASE_URL=postgresql://neondb_owner:npg_9YH2VFCoaqSN@ep-patient-pond-azichbgm-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SESSION_SECRET=compro_jmk
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
